
.home_section {
    display: flex;
    align-items: center;
    padding: 20vh 25vw 5vh 25vw;
    justify-content: center;
    position: relative; /* Adicionado */
    overflow: hidden; /* Adicionado */
}

.home_section img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%; /* Largura mínima igual a 100% */
    min-height: 100%; /* Altura mínima igual a 100% */
    width: auto;
    height: auto;
    z-index: -1;
}
.home_section .info_container {
    position: relative;
    z-index: 10;
    text-align: center;
}

.info_container .title_container h1{
    color: var(--light-color);
    font-size: 12em;
    text-align: left;
}
.info_container .title_container h1 span{
    display: block;
    text-align: right;

}

.info_container .description_container{
    color: var(--light-color);
    line-height: 1.5;
    background: var(--dark-color);
    padding: 1.5rem;
    border-radius: 1rem;
    margin-top: 12%;
}
.description_container h2{
    font-size: 2.4em;
}
.description_container p{
    font-size: 1.6em;
}

.description_container p strong, .description_container p b{
    color: var(--purple-color);
}

@media only screen and (max-width: 886px) {
    .info_container .title_container h1 {
        font-size: 6.4em;
    }
}

/*MARK SECTION*/

.mark_section{
    padding: 2.5rem 8.33vw;
    background: var(--dark-color);
    color: var(--light-color);
}
.mark_section .mark_title h2{
    text-align: center;
    font-size: 2.4em;
}


.grid-container {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Quatro colunas com largura igual */
    grid-gap: 0.8rem; /* Espaçamento entre as células */
}

.grid-item {
    font-size: 1.4em;
    text-align: center;
    padding: 0.2rem; /* Espaçamento interno das células */
}


hr {
    margin-top: 3rem;
    border: none;
    border-top: 0.2rem solid #7E57C2;
    width: 10rem;
    height: 0.2rem;
}

/*INCOMPLETO*/
/*PROMOTION SECTION*/

.promotion_section{
    padding: 5.8rem 8.33vw;
}

.promotion_section .title_promotion h2{
    color: var(--light-color);
    font-size: 2.4em;
    text-align: center;
    margin-bottom: 2rem;

}

.promotion_section .promotion_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Quatro colunas com largura igual */
    grid-gap: 4.8rem; /* Espaçamento entre as células */
}

.promotion_grid .grid_product{
    text-align: center;
    display: flex;
    align-items: center;
    padding: 2rem 0;
    background-color: var(--dark-color);
    list-style-type: none;
    border-radius: 0.8rem;
    filter: drop-shadow(15px 5px 5px var(--purple-color));
}


.grid_product ul li {
    margin-bottom: 1rem;
}

.grid_product ul li img {
    height: auto;
    width: 60%;
    object-fit: contain;
}


.grid_product ul li p span {
    display: block;
    color: var(--green-color);
    font-size: 2em;
}

.grid_product ul li a {
    text-decoration: none;
    color: var(--light-color);
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 2em;
    background-color: var(--green-color);
    border-radius: 0.4rem;
}

.grid_product ul li a:hover {
    padding: 0.7rem 1.2rem;
}
.grid_product ul li h3, .grid_product ul li p{
    color: var(--light-color);
}
.grid_product ul li h3 {
    font-size: 1.8em;
}

.grid_product ul li p {
    font-size: 1.6em;
}

@media only screen and (max-width: 680px) {
    .promotion_section .promotion_grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Quatro colunas com largura igual */
        grid-gap: 4.8rem; /* Espaçamento entre as células */
    }
}