
.home_section {
    display: flex;
    align-items: center;
    padding: 20vh 25vw 5vh 25vw;
    justify-content: center;
    position: relative; /* Adicionado */
    overflow: hidden; /* Adicionado */
}

.home_section img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%; /* Largura mínima igual a 100% */
    min-height: 100%; /* Altura mínima igual a 100% */
    width: auto;
    height: auto;
    z-index: -1;
}
.home_section .info_container {
    position: relative;
    z-index: 10;
    text-align: center;
}

.info_container .title_container h1{
    color: var(--light-color);
    font-size: 12em;
    text-align: left;
}
.info_container .title_container h1 span{
    display: block;
    text-align: right;

}

.info_container .description_container{
    color: var(--light-color);
    line-height: 1.5;
    background: var(--dark-color);
    padding: 1.5rem;
    border-radius: 1rem;
    margin-top: 12%;
}
.description_container h2{
    font-size: 2.4em;
}
.description_container p{
    font-size: 1.6em;
}

.description_container p strong, .description_container p b{
    color: var(--purple-color);
}

@media only screen and (max-width: 886px) {
    .info_container .title_container h1 {
        font-size: 6.4em;
    }
}

/*MARK SECTION*/

.mark_section{
    padding: 2.5rem 8.33vw;
    background: var(--dark-color);
    color: var(--light-color);
}
.mark_section .mark_title h2{
    text-align: center;
    font-size: 2.4em;
}


.grid-container {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Quatro colunas com largura igual */
    grid-gap: 0.2rem; /* Espaçamento entre as células */
}

.grid-item {
    font-size: 1.4em;
    text-align: center;
    padding: 0.8rem; /* Espaçamento interno das células */
}


hr {
    margin-top: 3rem;
    border: none;
    border-top: 0.2rem solid #7E57C2;
    width: 10rem;
    height: 0.2rem;
}

/*PROMOTION SECTION*/

.promotion_section{
    padding: 0 8.33vw;
    margin-top: 5.8rem;
}

.promotion_section .title_promotion h2{
    color: var(--light-color);
    font-size: 2.4em;
    text-align: center;
    margin-bottom: 2rem;

}

.promotion_section .promotion_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas com largura igual */
    grid-gap: 6.4rem; /* Espaçamento entre as células */
}

.promotion_grid .grid_product {
    text-align: center;
    display: flex;
    background-color: var(--dark-color);
    list-style-type: none;
    border-radius: 0.8rem;
    filter: drop-shadow(15px 5px 5px var(--purple-color));
}

.product_container {
    width: 100%;
}

.product_image {
    border-top-right-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
    width: 100%;
    height: 28rem; /* Altura fixa para as imagens */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box; /* Inclui o padding dentro da largura total */
}

.product_image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta a imagem para preencher o contêiner sem distorção */
}

/* Media queries para responsividade */
@media (max-width: 1200px) {
    .promotion_section .promotion_grid {
        grid-template-columns: repeat(2, 1fr); /* Duas colunas */
        grid-gap: 3.2rem; /* Ajusta o espaçamento */
    }

    .product_image {
        height: 18rem; /* Ajusta a altura das imagens */
    }
}

@media (max-width: 768px) {
    .promotion_section .promotion_grid {
        grid-template-columns: 1fr; /* Uma coluna */
        grid-gap: 2.4rem; /* Ajusta o espaçamento */
    }

    .product_image {
        height: 26rem; /* Ajusta a altura das imagens */
    }
}

@media (max-width: 480px) {
    .promotion_section .promotion_grid {
        grid-template-columns: 1fr; /* Uma coluna */
        grid-gap: 1.6rem; /* Ajusta o espaçamento */
    }

    .product_image {
        height: 20rem; /* Ajusta a altura das imagens */
    }
}

.product_container .product_description{
    padding: 2rem 1.2rem 3rem 1.2rem;
}
.product_description h3{
    color: var(--light-color);
    font-size: 1.8em;
    margin-bottom: 2rem;
}

.product_description  p{
    color: var(--light-color);
    font-size: 1.6em;
    margin-bottom: 2rem;

}

.product_description p span{
    display: block;
    color: var(--green-color);
    font-size: 2em;

}
.product_description a {
    text-decoration: none;
    color: var(--light-color);
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 2em;
    background-color: var(--green-color);
    border-radius: 0.4rem;
}

.product_description a:hover {
    padding: 0.7rem 1.2rem;
}

/*ABOUT SECTION*/

.about_section{
    margin-top: 2rem;
}

.about_section .title_about h2{
    color: var(--light-color);
    font-size: 2.4em;
    text-align: center;
    margin-bottom: 2rem;
}

.title_about h2 strong{
    color: var(--purple-color);
}
.about_container{ 
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 8.33vw;
  background-color: rgba(56, 56, 56, 0.5);
  pointer-events: none;
  z-index: -1;
}


.about_illustration {
    flex: 1; /* Faz com que ocupe o espaço disponível */
    transform: skewY(3deg);
    min-width: 30%;
  }
  
.about_container .about_illustration img {
    border-left: 0.6rem solid var(--blue-color);
    transition: 0.4s;
    width: 100%;
}

.about_container .about_description{
    margin-top: 3.6rem;
}
  
.about_description p{
    flex: 2;
    line-height: 1.5;
    color: var(--light-color);
    font-size: 1.6em;
    margin-bottom: 2rem;
}
.about_description p strong{
    color: var(--purple-color);
}

.about_description .list_about_container h3{
    color: var(--light-color);
    font-size: 1.8em;
    margin:2rem 0;
    text-align: center;

}
.list_about_container .benefits-list {
    list-style-type:disc;
    font-size: 1.6em;
    color: var(--light-color);
}

.list_about_container .benefits-list li {
    margin-bottom: 1.2rem;
}

.list_about_container .benefits-list li strong {
    color: var(--purple-color);
}

@media only screen and (max-width: 1024px) {
    .about_section .about_container {
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;
    }
    about_container .about_illustration {
     max-width: 30%;
      text-align: center;
    }
    about_container .about_description p{
      text-align: center;
    }
  }
